
@model DepartmentVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}

<div class="block-header">
    <h2>Create Department</h2>
</div>

<form asp-controller="Department" asp-action="Create" class="form-group">
    <label asp-for="Name">Department Name</label>
    <input type="text" class="form-control" asp-for="Name"/>
    <span asp-validation-for="Name" class="danger"></span>
    <br />
     
    <label asp-for="Code">Department Code</label>
    <input type="text" class="form-control" asp-for="Code" value=""/>
    <span asp-validation-for="Code" class="danger"></span>
    <br />

    <center>
        <input type="submit" value="Save" class="btn btn-primary"/>
        <a asp-action="Index" asp-controller="Department" class="btn btn-danger">Cancel</a>
    </center>
</form>
@section JqueryValidation{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
